# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/HelloWorldFreeRunLine/HelloWorldFreeRunLine.sdf
/HelloWorldFreeRunLine/Debug
*.sdf
/HelloWorldFreeRunLine/Debug/*.exe
/HelloWorldFreeRunLine/Debug/*.ilk
/HelloWorldFreeRunLine/Debug/*.pdb
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Debug
/HelloWorldFreeRunLine/Release
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/samples
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/dbghelp.pdb
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Debug
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Release
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Release
/HelloWorldFreeRunLine/dbghelp.pdb
/HelloWorldFreeRunLine/*.opensdf
/Test2 生产者线程/Test2/Release
/Test2 生产者线程/Test2/Debug
/Test1 生产者&消费者双线程/Test1/Release
/Test1 生产者&消费者双线程/Test1/Debug
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/VirtualCameras/*.jpg
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/HelloWorldFreeRunLine.vcxproj.user
/TileDetector/HelloWorldFreeRunLine/Samples/*.jpg
/TileDetector/HelloWorldFreeRunLine/Release
/TileDetector/HelloWorldFreeRunLine/Debug
/TileDetector/HelloWorldFreeRunLine/VirtualCameras/*.jpg
/TileDetector/Debug
/TileDetector/Release
/TileDetector/TileDetector/VirtualCameras/*.jpg
/TileDetector/TileDetector/Samples/*.jpg
/TileDetector/Debug
/TileDetector/TileDetector/Release
/TileDetector/TileDetector/Debug
/TileDetector/*.sdf
