# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/HelloWorldFreeRunLine/HelloWorldFreeRunLine.sdf
/HelloWorldFreeRunLine/Debug
*.sdf
/HelloWorldFreeRunLine/Debug/*.exe
/HelloWorldFreeRunLine/Debug/*.ilk
/HelloWorldFreeRunLine/Debug/*.pdb
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Debug
/HelloWorldFreeRunLine/Release
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/samples
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/dbghelp.pdb
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Debug
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Release
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/Release
/HelloWorldFreeRunLine/dbghelp.pdb
/HelloWorldFreeRunLine/*.opensdf
/Test2 生产者线程/Test2/Release
/Test2 生产者线程/Test2/Debug
/Test1 生产者&消费者双线程/Test1/Release
/Test1 生产者&消费者双线程/Test1/Debug
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/VirtualCameras/*.jpg
/HelloWorldFreeRunLine/HelloWorldFreeRunLine/HelloWorldFreeRunLine.vcxproj.user
/TileDetector/HelloWorldFreeRunLine/Samples/*.jpg
/TileDetector/HelloWorldFreeRunLine/Release
/TileDetector/HelloWorldFreeRunLine/Debug
/TileDetector/HelloWorldFreeRunLine/VirtualCameras/*.jpg
/TileDetector/Debug
/TileDetector/Release
/TileDetector/TileDetector/VirtualCameras/*.jpg
/TileDetector/TileDetector/Samples/*.jpg
/TileDetector/Debug
/TileDetector/TileDetector/Release
/TileDetector/TileDetector/Debug
/TileDetector/*.sdf
/BrightnessAdjust/BrightnessAdjust/A白纸_o原图.jpg
/BrightnessAdjust/BrightnessAdjust/实验记录
/BrightnessAdjust/BrightnessAdjust/A9划痕凹点_x3.jpg
/Calibration/Calibration/E14杂质_x3.jpg
/Calibration/Calibration/E14杂质二值化_x3.jpg
/Calibration/Calibration/E31崩角_x3.jpg
/Calibration/Calibration/E31崩角_x3二值化.jpg
/Calibration/Calibration/PincushionDistortion.png
/Calibration/Calibration/PincushionDistortion实拍.jpg
/Calibration/Calibration/samples
/Calibration/Calibration/E9 A_x3.jpg
/标定算法验证/ShuZhiCalibration/ShuZhiCalibration/E14杂质_x3.jpg
/标定算法验证/ShuZhiCalibration/ShuZhiCalibration/E14杂质二值化_x3.jpg
/标定算法验证/ShuZhiCalibration/ShuZhiCalibration/samples
/标定算法验证/ShuiPingCalibration/ShuiPingCalibration/1.png
/标定算法验证/ShuiPingCalibration/ShuiPingCalibration/2.jpg
*.idb
*.pdb
*.log
*.tlog
*.lastbuildstate
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
Debug
/Calibration/Release
/标定算法验证/ShuiPingCalibration/Debug/*.ilk
/标定算法验证/ShuiPingCalibration/Debug/*.pdb
*.log
*.idb
*.pdb
/FeatureFinder/FeatureFinder/samples
/FeatureFinder/FeatureFinder/特征样本库
*.suo
/TileDetectorMFC/TileDetectorMFC/VirtualCameras/*.jpg
/TileDetectorMFC/TileDetectorMFC/Samples/*.jpg
/生成图像样本/生成图像样本/samples/*.jpg
/生成图像样本/生成图像样本/*.jpg
/ModuleTest
/TileDetectorMFC/TileDetectorMFC/*.aps
/TileDetectorMFC/TileDetectorMFC/EdgeInner
/TileDetectorMFC/TileDetectorMFC/Release/TileDetectorMFC.res
/Spots/Spots/Images
